@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&display=swap");

/* Resets */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Layout */
:root {
	--ff-title: "Lilita One", cursive;
	--ff-normal: "Libre Baskerville", serif;
	--fw-normal: 400;
	--fw-bold: 700;
	--color-glass: hsl(0, 0%, 100%, 0.5);
}

body {
	min-height: 100vh;
	display: grid;
	grid-template: 1fr 7fr / 1fr 6fr;
}

body section {
	outline: 1px solid black;
}

.header {
	grid-column: 2 / 3;
	display: grid;
	grid-template: 1fr 1.5fr / 1.5fr 1fr;
}
.header > * {
	outline: 1px solid black;
}
.header .searchbar {
	display: flex;
}

.header img.icon {
	width: 2rem;
}

.sidebar {
	grid-row: 1 / 3;
}

.content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background: linear-gradient(135deg, lightblue, violet);
}

.content .projects-container {
	grid-column: 1;
}

.projects-cards {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	grid-auto-rows: min-content;
}

.projects-cards .card {
	display: grid;
	grid-template-rows: 1fr 3rem;
	border: 2px solid black;
}

.content .announcements-and-trendings {
	grid-column: 2;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.projects-container,
.announcements-container,
.trendings-container {
	display: grid;
	grid-template-rows: 2rem 1fr;
	gap: 0.4rem;
}

.announcements {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	max-height: 40rem;
}

.announcements hr {
	border-bottom: 1px solid;
	color: rgba(128, 128, 128, 0.877);
	width: 80%;
}
.trendings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 25rem;
}

.trendings .trending {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 3fr;
}

.trendings .trending * {
	align-self: center;
}

.trendings .trending .trending-icon {
	grid-row: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trendings .trending .trending-icon img {
	border-radius: 50%;
	scale: 1.15;
}

.trendings .trending .trending-text .username {
	margin-bottom: 0.5rem;
}

/* Typography */

body {
	font-family: var(--ff-normal);
}

.projects-title,
.announcements-title,
.trendings-title {
	font-family: var(--ff-title);
	font-size: 1.5rem;
	/* Center vertically */
	display: flex;
	align-items: center;
}

.card-title,
.announcement-title,
.username {
	font-weight: var(--fw-bold);
	font-size: 1rem;
}

.content p {
	font-size: 0.95rem;
	color: rgb(27, 27, 27);
}
/* Style */

.projects-container,
.announcements-container,
.trendings-container {
	padding: 1rem;
}

/* Projects */

.projects-cards .card {
	border: none;
	background: var(--color-glass);
	backdrop-filter: blur(5px);
	border-radius: 1rem;
	border-left: 3px solid;
}

.projects-cards .card .card-title {
	margin-bottom: 1rem;
}

.projects-cards .card .card-content {
	padding: 1.5rem;
}

.projects-cards .card .card-content .card-info {
	line-height: 1.45;
}

.projects-cards .card .card-react {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	padding-right: 1.5rem;
}

.projects-cards .card .card-react img {
	width: 1.8rem;
	cursor: pointer;
}

/* Announcements and Trendings */

.announcements-and-trendings {
	padding-inline: 0.6rem;
}

.announcements,
.trendings {
	background: var(--color-glass);
	backdrop-filter: blur(5px);
	border-radius: 1rem;
	padding: 1.5rem;
}

/* Announcements */

.announcement {
	line-height: 1.45;
}

.announcement .announcement-title {
	margin-bottom: 0.5rem;
}

/* Sidebar */

/* Header */
.header {
	background: rgb(255, 248, 239);
}

.header .searchbar {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-start;
	align-items: center;
	padding: 1.4rem;
}

.header .searchbar input {
	width: 80%;
	background: hsl(0, 0%, 100%);
	border: 1px solid gray;
	height: 2rem;
	border-radius: 0.5rem;
}
.profile {
	background: red;
}

.greetings {
	background: orange;
}

.buttons {
	background: lightblue;
}
